@tailwind base;
@import './base.css';

@tailwind components;
@import './components.css';

@tailwind utilities;

.hero-img {
  background-image: url('/assets/blur.jpg');
  object-fit: cover;
}

.fund {
  background: #ef4344;
}

.white-hero {
  color: #fff;
}
